<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<div class="card shadow users-container"></div>
		<template id="user-list-item-template">
			<a href="" data-field="user-link" class="card shadow center inline-block user-list-item">
				<img src="" width="96" height="96" class="round" data-field="image" decoding="async" loading="lazy" alt="User Image" />
				<div>
					<b data-field="name"></b>
					<br />
					<span class="capitalize" data-field="role"></span>
				</div>
			</a>
		</template>
	</body>
</html>
