<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="item-container">
			<input type="number" name="qty[]" class="qty-input" min="1" max="20" value="1" size="2" required="" />
			<span>x</span>
			<input type="text" name="item[]" class="item-input" placeholder="Item name" required="" />
			<button type="button" class="btn btn-reject" data-action="delete" title="Delete Item">
				<svg class="current-color icon" width="12" height="16" viewBox="0 0 12 16">
					<path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"/>
				</svg>
			</button>
		</div>
	</body>
</html>
